<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy.mapper.VoucherOrderMapper">

    <resultMap id="BaseResultMap" type="com.cxy.entry.VoucherOrder">
            <id property="id" column="ID" jdbcType="BIGINT"/>
            <result property="userId" column="user_ID" jdbcType="BIGINT"/>
            <result property="voucherId" column="voucher_ID" jdbcType="BIGINT"/>
            <result property="totalAmount" column="total_amount" jdbcType="DECIMAL"/>
            <result property="paymentStatus" column="payment_status" jdbcType="CHAR"/>
            <result property="callbackContent" column="callback_content" jdbcType="VARCHAR"/>
            <result property="callbackTime" column="callback_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,user_ID,voucher_ID,
        total_amount,payment_status,callback_content,
        callback_time,create_time,update_time,
        is_delete
    </sql>
</mapper>
