<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxy.mapper.MovieSetMapper">
    <select id="getMovieSetInfoById" resultType="com.cxy.Dto.MovieSetDto">
        select movie_set.*,
               moviehouse.movie_house_name,
               film.film_name,
               film.duration,
               cinema.cinema_name
        from movie_set,
             moviehouse,
             film,
             cinema
        where movie_set.ID = #{ID}
          and movie_set.movie_house_id = moviehouse.ID
          and movie_set.film_id = film.ID
          and moviehouse.cinema_ID = cinema.ID
          and movie_set.is_delete = 0

    </select>
    <select id="getMovieSetInfo" resultType="com.cxy.Dto.MovieSetDto">
        select movie_set.*,
        moviehouse.movie_house_name,
        film.film_name,
        film.duration,
        cinema.cinema_name
        from movie_set,
        moviehouse,
        film,
        cinema
        where movie_set.movie_house_id = moviehouse.ID
        and movie_set.film_id = film.ID
        and moviehouse.cinema_ID = cinema.ID
        and movie_set.is_delete = 0
        and moviehouse.state=1
        <if test="cinemaId!=null">
            and movie_set.cinema_ID=#{cinemaId}
        </if>
        order by movie_set.movie_end_time desc
    </select>
    <select id="getMovieSetInfoByFilmName" resultType="com.cxy.Dto.MovieSetDto">
        select movie_set.*,
               moviehouse.movie_house_name,
               film.film_name,
               film.duration,
               cinema.cinema_name
        from movie_set,
             moviehouse,
             film,
             cinema
        where film.film_name like concat('%', #{name}, '%')
          and movie_set.movie_house_id = moviehouse.ID
          and movie_set.film_id = film.ID
          and moviehouse.cinema_ID = cinema.ID
          and movie_set.is_delete = 0
    </select>
    <select id="checkTime" resultType="java.lang.Integer">
        SELECT count(*)
        FROM `movie_set`
        WHERE `movie_set`.movie_house_id = #{movieHouseID}
          and (#{movieStartTime} BETWEEN `movie_set`.movie_start_time and `movie_set`.movie_end_time
            or #{movieEndTime} BETWEEN `movie_set`.movie_start_time and `movie_set`.movie_end_time)
    </select>

</mapper>