<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy.mapper.PerformerMapper">

    <resultMap id="BaseResultMap" type="com.cxy.entry.Performer">
        <id property="id" column="ID" jdbcType="BIGINT"/>
        <result property="performerName" column="performer_name" jdbcType="VARCHAR"/>
        <result property="performerPicUrl" column="performer_pic_url" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
        <result property="performerAbout" column="performer_about" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>


    <select id="getPerformersByFilmID" resultType="com.cxy.entry.Performer">
        select performer.*
        from performer,
             performer_index
        where performer_index.film_ID = #{filmID}
          and performer.ID = performer_index.performer_ID
    </select>
    <select id="getPerformByID" resultType="com.cxy.entry.Film">
        select film.*
        from performer_index,
             film
        where performer_index.performer_ID = #{performID}
          and performer_index.film_ID = film.ID
    </select>
</mapper>
