<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy.mapper.FilmMapper">

    <resultMap id="BaseResultMap" type="com.cxy.entry.Film">
            <id property="id" column="ID" jdbcType="BIGINT"/>
            <result property="filmName" column="film_name" jdbcType="VARCHAR"/>
            <result property="about" column="about" jdbcType="VARCHAR"/>
            <result property="releaseTime" column="release_time" jdbcType="TIMESTAMP"/>
            <result property="duration" column="duration" jdbcType="DOUBLE"/>
            <result property="score" column="score" jdbcType="DOUBLE"/>
            <result property="credateTime" column="credate_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,film_name,about,
        release_time,duration,score,
        credate_time,update_time,is_delete
    </sql>
</mapper>
