<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy.mapper.PerformerIndexMapper">

    <resultMap id="BaseResultMap" type="com.cxy.entry.PerformerIndex">
            <id property="id" column="ID" jdbcType="BIGINT"/>
            <result property="filmId" column="film_ID" jdbcType="BIGINT"/>
            <result property="performerId" column="performer_ID" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,film_ID,performer_ID
    </sql>
</mapper>
